.modal-content .modal-footer {
    padding: 0px;
    padding-right: 15px;
}

.modal-content .modal-footer .btn-secondary {
    font-size: 14px;
    padding: 10px 25px;
    font-weight: 600;
    margin: 25px 5px;
}