 <div class="col-md-4 at-top">
            <div class="spacer-45 hidden-xs hidden-sm"></div>
            <div class="show-app card">
                <!-- <div class="grid-bg"></div> -->
                <div class="the-grid-chart">
                    <div class="svgElem">
                        <svg viewBox="0 0 200 260">
                            <path fill="none" stroke="#e7e7e7" stroke-width="7" [attr.d]="d2" vector-effect="non-scaling-stroke"  />
                            <path  class="path" fill="none" stroke="#a0d70d" stroke-width="7" [attr.d]="d" vector-effect="non-scaling-stroke">
                                <!--<animate attributeName="stroke" begin="0s" end="2s"
                                dur="2000ms" to ="#000000" />-->
                                
              
                            </path>
                        </svg>
                    </div>
                
                    <div class="centered-text">
                        <div class="g-c-time">
                            <strong class="big" >{{today.timeCovered.hrs}}</strong>
                            <!--<strong class="big">9</strong>-->
                            <small>hr</small>
                            <strong class="big" >{{today.timeCovered.mins}}</strong>
                            <!--<strong class="big">32</strong>-->

                            <small>min</small>
                        </div>
                         <div class="g-c-legend">Covered Today</div> 
                    </div>
                </div>
                <h3 class="app-title normal">
                    <span class="big">Today</span>
                    <!--<span class="small">{{today.date | date : 'd'}}{{ uploadComplete(today.date) }} {{today.date | date : 'MMMM'}}</span>-->
                    <span class="small">{{today.date | date : 'd'}}{{ toDate_th(today.date) }} {{today.date | date : 'MMMM'}}</span>
                </h3>
                <div class="split-times">
                    <div class="small-time work">
                        <time>{{today.start_time ? (today.start_time | date: 'shortTime') : 'n/a'}}</time>
                        <span class="small-title">Start Time</span>
                    </div>
                    <div class="small-time break">
                        <time>{{today.end_time? (today.end_time | date: 'shortTime') : 'n/a'}}</time>
                        <span class="small-title">End Time</span>
                    </div>
                </div>
            </div>
        </div>