// @import "bootstrap/bootstrap";
@import "varsnhelpers";
@import "elements";

.max-767 {
	// max-width: 767px;
	width: 767px;
	margin: 0 auto;
}
.max-420 {
	max-width: 420px;
	margin: 0 auto;
}
.max-w-767 {
	max-width: 767px;
	margin: 0 auto;
}

.signin-page, .signup-page {
	background: #f9f9f9;
}

.navbar.header	{
	border: 0;
	border-bottom: 0;
	background: transparent;
	border-radius: 0;
	// padding: 20px 15px;
	.navbar-nav a {
		color: @bodyGrey;
		font-weight: 600;
		text-decoration: none;
		font-size: 13px;
		&:hover {
			color: @primary;
		}
	}
}
.navbar-header {
	position: relative;
	z-index: 5;
}
.navbar {
	.dropdown-menu {
		.glyphicon, .fa {
			margin-right: 15px;
		}
	}
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}
@media screen and (max-width: 767px) {
	.navbar-collapse.posrel {
		margin: 15px 0;
	}
	.navbar-nav {
		padding: 0;
		.language-sel {
			padding: 15px;
			.language-selector {
				margin-top: 0;
			}
		}
	}
	.navbar-nav .open .dropdown-menu>li>a {
		padding-left: 0;
		line-height: 27px;
	}
}
.navbar .dropdown a {
	color: @bodyGrey;
	font-weight: 600;
	text-decoration: none;
	font-size: 13px;
}
.logo {
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 19px;
	a {
		color: @titleDark;
		text-decoration: none;
	}
}
.navbar-default .navbar-brand {
	color: @titleDark;
}

// dropdown menu
.dropdown-menu {
	border: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,0.1);
	border-radius: 3px;
	li a {
		padding: 13px 20px !important;
		color: @titleDark;
		border-bottom: 1px solid #ddd;
	}
	li:last-child {
		a {
			border-bottom: 0;
		}
	}
}
.dropdown.userdata {
	img {
		display: inline-block;
		vertical-align: middle !important;
		margin-right: 5px;
	}
	i {
		margin-left: 2px;
	}
	@media screen and (max-width: 767) {
		.dropdown-menu {
			text-align: right;
		}
	}
}
.dropdown.userdata.visible-xs {
	// padding: 15px;
}

.page-title {
	h1 {
		font-size: 20px;
		margin: 0;
		margin-top: 35px;
		strong {
			font-weight: 600;
		}
	}
}
.dashboard-title {
	font-size: 28px;
	color: @titleDark;
	margin-top: 50px;
	margin-bottom: 6px;
	font-weight: 600;
}
.sub-title {
	margin-top: 3px;
	margin-bottom: 20px;
	font-size: 13px;
	color: @bodyGrey;
	font-weight: 600;
	&.dash {
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 35px;
	}
}
.dilbert-logo {
	padding: 15px 0;
	.sub-title {
		opacity: 0.5;
		font-size: 14px;
		margin-bottom: 0;
	}
}

form {
	label {
		font-size: 13px;
		font-weight: bold;
		// opacity: 0.5;
	}
}

.top-row {
	margin-bottom: 15px;
	.form-group {
		margin-bottom: 15px;
	}
}

.setheight {
	height: 128px;
}
.bottom-align {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}

.organisation-icon {
	background: url(../images/company-icon.png) no-repeat center;
	width: 88px;
	height: 48px;
	display: block;
	margin: 25px auto;
}
.rt-text-org {
	border-left: 1px solid #eee;
	padding: 1px;
	padding-left: 25px;
	h3 {
		font-size: 18px;
		font-weight: 400;
		margin: 25px 0;
	}
	.org-expln {
		padding-bottom: 15px;
	}
	p {
		opacity: 0.5;
		margin-bottom: 15px;
	}
}

.after-image.upload-label {
	padding: 33px 15px;
}
.image-added {
	display: block;
	text-align: center;
	.remove-image {
		position: absolute;
		top: 0;
		right: 0;
		color: @titleDark;
		opacity: 0.3;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
		font-style: normal;
		font-size: 22px;
		line-height: normal;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
	}
}
.removelink {
	opacity: 0.5;
	font-size: 22px;
	font-weight: 300;
}
.finalbtn {
	margin: 45px 0;
}

.footer {
	background: #f2f2f2;
	padding: 15px;
	font-size: 13px;
	a {
		color: #303030;
		text-decoration: underline;
	}
}

.login-helper {
	padding: 15px 0;
	.sub-title {
		font-weight: normal;
		font-size: 14px;
		opacity: 0.4;
		margin-top: 0;
	}
	h4 {
		margin-bottom: 5px;
	}
}
.dilbert-logo {
	img {
		margin-bottom: 25px;
	}
}

.out-of-pannel {
	margin: 35px auto;
	text-align: center;
	font-size: 13px;
	color: @softGrey;
	a {
		display: block;
		text-align: center;
		text-decoration: underline;
		font-size: 15px;
		font-weight: 600;
	}
}

// for the landing page
.landing-page {
	.navbar.header {
		border: 0;
		padding: 35px 0;
		.highlight {
			padding: 10px 18px;
		}
		.highlight a {
			padding-top: 5px;
			padding-bottom: 5px;
			color: @primary;
			border: 1px solid @primary;
			border-radius: 2px;
			&:hover {
				background: @primary;
				color: #fff;
			}
		}
	}
}

// chrome web store section
.chrome-store-section {
	padding: 45px 0;
	.btn-group {
		margin-top: 4px;
	}
}

// why dilbert section
.why-dilbert {
	position: relative;
	padding-top: 45px;
	padding-bottom: 1px;
	.feature-row {
		margin: 75px -15px;
	}
	.features {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 8px;
			font-size: 13px;
			opacity: 0.8;
		}
	}
	.feature-img {
		max-height: 235px;
	}
}
.why-sub-t {
	color: @bodyGrey;
	font-size: 22px;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 25px 0;
	span {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: -25px;
			left: 0;
			right: 0;
			height: 4px;
			background: @primary;
		}
	}
}


@media screen and (max-width: 767px) {
	.text-center-xs {
		text-align: center;
	}
	// .navbar.header {
	// 	// padding: 15px;
	// 	padding: 0;
	// 	margin-bottom: 0;
	// }
	.navbar.header,
	.landing-page .navbar.header {
		padding: 15px;
		margin-bottom: 0;
	}
	.navbar-default .navbar-toggle {
		border: 0;
		// margin-right: 0;
		margin-left: 8px;
	}
	.navbar-collapse:after {
		pointer-events: none;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 65px;
		margin: auto;
		background: url(../images/shade-btm.png) no-repeat bottom center;
		background-size: contain;
		z-index: 5;
	}
	// .navbar-nav.navbar-right {
	// 	text-align: right;
	// }
	.landing-page .navbar.header .highlight {
		padding: 0;
		a {
			padding: 10px 15px;
			border: 0;
		}
	}
	.why-dilbert {
		.feature-img {
			max-width: 100%;
			height: auto;
			max-height: none;
		}
	}
	.why-sub-t {
		padding-top: 15px;
		margin-bottom: 35px;
		position: relative;
		span {
			position: static;
		}
		span:before {
			width: 40px;
			left: 0;
			right: 0;
			top: auto;
			bottom: -5px;
			margin: auto;
		}
	}
	.chrome-store-section {
		.btn-group .btn {
			width: 100%;
			margin: 0;
			&:first-child {
				border-radius: 2px 2px 0 0;
				margin-bottom: -1px;
			}
			&:nth-child(2) {
				border-radius: 0 0 2px 2px;
			}
		}
	}
}

.personal-data {
	padding-top: 10px;
	background-color: transparent;
	.jumbo-title {
		margin-bottom: 35px;
	}
}

.btn-group.change-last-view {
	.btn {
		font-size: 16px;
		border: 0;
		color: @titleLight;
	}
}
.btn-group.filter {
	& > .btn {
		font-size: 14px;
		border: 0;
		color: @titleLight;
	}
}

.show-hide-days {
	margin-top: 6px;
}


.bg-gradient() {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffee32+0,ffdf00+100 */
	background: @ajencyYellow; /* Old browsers */
	background: -moz-linear-gradient(45deg,  @ajencyYellow 0%, @ligterYellow 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  @ajencyYellow 0%,@ligterYellow 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  @ajencyYellow 0%,@ligterYellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@ajencyYellow', endColorstr='@ligterYellow',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fixed-bottom-color {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 58%;
	z-index: -1;
	.bg-gradient
}

.fixed-top-color {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40%;
	z-index: -1;
	.bg-gradient;
	@media screen and (min-width: 992px) {
		&.btm-big {
			top: auto;
			bottom: 0;
			height: 58%;
		}
	}
}