@import "varsnhelpers";
@import "elements";

.max-767 {
	// max-width: 767px;
	width: 767px;
	margin: 0 auto;
}
.max-420 {
	width: 420px;
	margin: 0 auto;
}

.navbar.header	{
	border: 0;
	border-bottom: 1px solid #eee;
	background: #fff;
	border-radius: 0;
	// padding: 20px 15px;
	.navbar-nav a {
		color: @primary;
		font-weight: 600;
		text-decoration: none;
	}
}
.logo {
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 21px;
	a {
		color: @titleDark;
		text-decoration: none;
	}
}

.page-title {
	h1 {
		font-size: 20px;
		margin: 0;
		margin-top: 35px;
		strong {
			font-weight: 600;
		}
	}
}
.sub-title {
	margin-top: 3px;
	margin-bottom: 20px;
	font-size: 13px;
	color: @bodyGrey;
	font-weight: 600;
}
.dilbert-logo {
	padding: 15px 0;
	.sub-title {
		opacity: 0.5;
		font-size: 14px;
		margin-bottom: 0;
	}
}

form {
	label {
		font-size: 13px;
		font-weight: bold;
		// opacity: 0.5;
	}
}

.top-row {
	margin-bottom: 15px;
	.form-group {
		margin-bottom: 15px;
	}
}

.setheight {
	height: 128px;
}
.bottom-align {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}

.organisation-icon {
	background: url(../img/company-icon.png) no-repeat center;
	width: 88px;
	height: 48px;
	display: block;
	margin: 25px auto;
}
.rt-text-org {
	border-left: 1px solid #eee;
	padding: 1px;
	padding-left: 25px;
	h3 {
		font-size: 18px;
		font-weight: 400;
		margin: 25px 0;
	}
	.org-expln {
		padding-bottom: 15px;
	}
	p {
		opacity: 0.5;
		margin-bottom: 15px;
	}
}

.after-image.upload-label {
	padding: 33px 15px;
}
.image-added {
	display: block;
	text-align: center;
	.remove-image {
		position: absolute;
		top: 0;
		right: 0;
		color: @titleDark;
		opacity: 0.3;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
		font-style: normal;
		font-size: 22px;
		line-height: normal;
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
	}
}
.removelink {
	opacity: 0.5;
	font-size: 22px;
	font-weight: 300;
}
.finalbtn {
	margin: 45px 0;
}

.footer {
	background: #f2f2f2;
	padding: 15px;
	font-size: 13px;
	a {
		color: #303030;
		text-decoration: underline;
	}
}

.login-helper {
	padding: 15px 0;
	.sub-title {
		font-weight: normal;
		font-size: 14px;
		opacity: 0.4;
		margin-top: 0;
	}
	h4 {
		margin-bottom: 5px;
	}
}
.dilbert-logo {
	img {
		margin-bottom: 25px;
	}
}

.out-of-pannel {
	margin: 35px auto;
	text-align: center;
	font-size: 13px;
	color: @softGrey;
	a {
		display: block;
		text-align: center;
		text-decoration: underline;
		font-size: 15px;
		font-weight: 600;
	}
}