<div class="container">
    <div class="row">
        <div class="col-md-12">
        
            <div class="user-page-title">
                <h1 class="dashboard-title">Ajency.in Work Summary</h1>
                <h4 class="sub-title dash">Track Time. Record Work. Boost Productivity.</h4>
            </div>
            <!-- Popup to modify the Log content of specific user -->
            <app-popup></app-popup>
            <div class="company-summary card">
                <div class="card-header">
                    <div class="pull-left">
                        <label for="search-table" class="search-emp-names">
                            <input id="search-table" type="search" class=" form-control" placeholder="Filter by Name" (ngModel)="text" (keyup)="onTextChange($event.target.value)" >
                            <i class="fa fa-search empty-icon"></i>
                            <!-- show this icon only if text has been entered - so the text can be cleared as well as the filtered table can be cleared -->
                            <a href="#" class="clear-icon hidden">&times;</a>
                        </label>
                    </div>
                    <div class="table-navi pull-right">
                        <!-- add class disabled to disable the btn/link -->
                        <a href="#" class="week-navi prev" (click)="fetchData(false)"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="week-navi next" (click)="fetchData(true)" [class.disabled]="nxtBtnDisable"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- I'm not sure if this is required so I've added the class hidden for now, remove hidden if this elelment is needed -->
                    <div class="btn-group btn-dropdown filter pull-right ">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jump to Date <span class="fa fa-angle-down"></span>
                        </button>
                        <ul class="dropdown-menu stay-open">
                            <li class="select-a-date">
                                <h6 class="dd-title">Select a Date</h6>
                                <p>The result will show the week which includes the date you picked</p>
                                <div class="form-group">
                                    <!--<label for="find-week-day"><input type="date" id="find-week-day" class="form-control" [(ngModel)]="date" (change)="onDateChange(date)"></label>-->
                                    <label for="find-week-day" class="wrapper">
                                        <input type="date" id="find-week-day" class="date form-control" [(ngModel)]="date">
                                        <input type="date" class="picker form-control" max={{onFormatDate(todaysDate)}} [(ngModel)]="date" (change)="onDateChange(date)">
                                    </label>
                                </div>
                                <!-- add class hidden as soon as a date has been selected -->
                                <p class="date-not-selected">Select a date to see week start and end dates</p>

                                <!-- After a date is picked, show this div and hi de the previous one-->
                                <div class="hidden">
                                    <h6 class="dd-title">The Week</h6>
                                    <p>10 Oct, 2016 - 16 Oct, 2016</p>
                                    <a href="#" class="btn btn-primary pull-right">Done</a>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <a href="#" class="show-hide-days pull-right"><small>Hide Sundays</small></a> -->
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                    <div class="table-view month hscroll-table hide-in-week-view">
                        <div class="table-responsive">
                            <table class="table first-table">
                                <thead>
                                    <tr>
                                        <th class="employee-id" (click)="sortBy('name')">
                                            <span class="th-label small-title">
                                                <!-- ************************************
                                                    I N S T R U C T I O N S
                                                    change class of <i> to
                                                    "fa fa-caret-up" - ascending order
                                                    "fa fa-caret-down" - descending order
                                                    This is same for all table headers
                                                    ************************************* -->
                                                <span class="th-date">Employees <a href="#" class="sort-col"><i class="fa fa-sort"></i></a></span>
                                            </span>
                                        </th>
                                        <th *ngFor="let item of weekBucket;let key = index">
                                            <span class="th-label small-title" (click)="sortBy('date',item,key)">
                                                <span class="th-date"> {{item | date : 'dd MMM'}}<a href="#" class="sort-col" ><i class="fa fa-sort"></i></a></span>
                                                <span class="th-day">{{item | date: 'EEE'}}</span>
                                            </span>
                                        </th>
                                        
                                        <th>
                                            <span class="th-label small-title" (click)="sortBy('total')">
                                                <span class="th-date">Total <a href="#" class="sort-col"><i class="fa fa-sort"></i></a></span>
                                                <span class="th-day">&nbsp;</span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="userData && userData.length != 0">
                                        <tr class="" *ngFor="let item of userData">
                                            <td class="employee-id">
                                                <a href="/dashboard/{{item.email}}" class="employee-name" data-toggle="tooltip" data-html="true" data-placement="bottom" title="More details of this employee">
                                                    <!-- <span class="th-day small-title">&nbsp;</span> -->
                                                    <span class="th-total">{{item.name}}</span>
                                                    <!-- <span class="th-spilt">
                                                        <span class="th-work">9:45</span> -
                                                        <span class="th-break">19:15</span>
                                                    </span> -->
                                                </a>
                                            </td>
                                            <ng-container *ngIf="item.summary.length == 0">
                                                <td [colSpan]="7" class="noData">
                                                    <span class="th-total">No Data Acquired</span>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="item.summary.length != 0">
                                                <td *ngFor="let workday of item.summary.data">
                                                    <a href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                                                        <!-- <span class="th-day small-title">Oct 10</span> -->
                                                        <div *ngIf="workday.status === null || (workday.status && workday.status.toLowerCase() === 'present')">
                                                            <span class="th-total">{{workday.total_time != null ? workday.total_time : "n/a" }}</span>
                                                            <span class="th-spilt">
                                                                <span class="th-work">{{workday.start_time | date:'HH:mm'}}</span> -
                                                                <span class="th-break">{{workday.end_time | date:'HH:mm'}}</span>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="!(workday.status === null || (workday.status && workday.status.toLowerCase() === 'present'))">
                                                            <span class="th-total">{{workday.status}}</span>
                                                            <span class="th-spilt">
                                                                <span class="th-work"></span> - <span class="th-break"></span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <!--<td *ngFor="let workday of item.emptySpaces">
                                                </td>-->
                                                <td [colSpan]="6 - item.summary.data.length" *ngIf="item.summary.data.length !== 6"></td>
                                                <td class="sunday">
                                                    <!-- <a href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                                                        <span class="th-day small-title">Oct 10</span>
                                                        <span class="th-total">9:30</span>
                                                        <span class="th-spilt">
                                                            <span class="th-work">9:45</span> -
                                                            <span class="th-break">19:15</span>
                                                        </span>
                                                    </a> -->
                                                </td>
                                            </ng-container>
                                            <td>
                                                <a href="#" class="single-day total current" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                                                    <!-- <span class="th-day visi-hide">Week's Total</span> -->
                                                    <span class="th-total">{{item.total_time}}</span>
                                                    <span class="th-spilt">
                                                        <span class="th-break"></span>
                                                        <!--<span class="th-work">39:13</span> -
                                                        <span class="th-break">6:13</span>-->
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="userData && userData.length == 0">
                                        <tr>
                                            <td colspan="9" class="noData">No data to display</td>       
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="stats-view hidden">
                        <h4 class="card-title hide-in-week-view">Stats since Oct 01</h4>
                        <div class="spacer-20 show-in-week-view"></div>
                        <div class="horizontal-stats">
                            <div class="stat-wrap">
                                <div class="stat-count">
                                    <strong>109:20</strong>
                                    <span class="stat-dev increase"><i class="fa fa-caret-up"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Total Time</div>
                            </div>
                            <!-- <div class="stat-wrap">
                                <div class="stat-count">
                                    <strong>95:49</strong>
                                    <span class="stat-dev decrease"><i class="fa fa-caret-down"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Total Work Time</div>
                            </div> -->
                            <div class="stat-wrap">
                                <div class="stat-count">
                                    <strong>09:52 <span>AM</span></strong>
                                    <span class="stat-dev increase"><i class="fa fa-caret-up"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Avg. Say Start</div>
                            </div>
                            <div class="stat-wrap wide">
                                <div class="stat-count">
                                    <strong>0.47</strong>
                                    <span class="stat-dev decrease"><i class="fa fa-caret-down"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Day start deviates by</div>
                            </div>
                            <div class="stat-wrap text-right">
                                <a href="#" class="more-stats"><small>More stats</small></a>
                            </div>
                        </div>
                        <!-- Please add the line chart here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="fixed-bottom-color"></div>-->
