/*.svgElem{
      position: absolute;
      left: 10%;
}*/
/*#progress-completed{
      animation: cubic-bezier(0.895, 0.03, 0.685, 0.22) 2s infinite;
}*/
.path {
  stroke-dasharray: 500;
  animation: dash 4s linear backwards 1 ;
}
.table-view .noData {
  padding: 12px;
  text-align: center;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }from {
    stroke-dashoffset: 0;
    fill: none;
  }
}
.wrapper {
	position: relative;
	/*// width: 146px;
	// height: 24px;*/
	/*margin: 20px;*/
	overflow: hidden;
  /*// margin-left: 20px;
  // margin-top: 20px;
  // margin-bottom: -5px;*/
}
.date {
	/*// border: 0;
	// width: 146px;
	// height: 24px;
	// line-height: 24px;*/
	position: absolute;
	top: 0;
	left: 0;
	/*// background: #fff;
  border: 1px solid #999;
	box-sizing: border-box;*/
}
.picker {
	/*// width: 200px;*/
	height: 48px;
	font-size: 999px;
	opacity: 0;
	/*// position: absolute;
	// top: 0;
	// right: 0;
	// margin: 0;
	// padding: 0;*/
}