/*.svgElem{
      position: absolute;
      left: 10%;
}*/
/*#progress-completed{
      animation: cubic-bezier(0.895, 0.03, 0.685, 0.22) 2s infinite;
}*/
app-todays-card{
      margin: 0 auto;
}
.noData {
      text-align: center;
}
.loading {
  border: 4px solid #ffdf00;
  border-right-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 25px auto;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-color: #ffdf00;
    border-right-color: transparent;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-color: #f0d200;
    border-right-color: transparent;
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    border-color: #ffdf00;
    border-right-color: transparent;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-color: #ffdf00;
    border-right-color: transparent;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-color: #f0d200;
    border-right-color: transparent;
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    border-color: #ffdf00;
    border-right-color: transparent;
  }
}
.wrapper {
	position: relative;
	width: 146px;
	height: 24px;
	/*margin: 20px;*/
	overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -5px;
}
.date {
	border: 0;
	width: 146px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	/*border: 1px solid #999;
	box-sizing: border-box;*/
}
.picker {
	width: 200px;
	height: 24px;
	font-size: 999px;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}