<div class="container">
    <div class="row order-columns">
        <div class="col-md-8 visible-xs visible-sm wi100">
            <!-- Mobile view -->
            <!-- Dashboard title when the user views this page -->
            <div class="user-page-title hidden" *ngIf="!withUrl">
                <h1 class="dashboard-title">Welcome, {{appUtilService.user_data.user_name}}</h1>
            </div>

            <!-- Dashboard title when the company views this page -->
            <div class="company-page-title" *ngIf="withUrl">
                <div *ngIf="empname">
                    <h1 class="dashboard-title">{{empname}}'s Time at Work</h1>
                </div>
                <div *ngIf="!empname">
                    <h1 class="dashboard-title"><div class='uil-clock-css yellow-loader def' style='transform:scale(0.3);'><div class="clock"></div><div class="ptr1"></div><div class="ptr2"></div></div></h1>
                </div>
            </div>
        </div>
        <div class="col-md-8 at-btm visible-xs visible-sm">
            <!-- Mobile Week view -->
            <!-- if day is monday then hide this and show the div with class "monday-card" -->
            
            <!-- add class hidden to this too, if day is monday -->
            <div class="card card-navigation" [class.hidden]="userData.length < 0">
                <!-- Display JumpTo Date option if userData is >= 1 -->
                <div class="btn-group btn-dropdown dropup filter pull-left" style="margin-top: 0;">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jump to Date <span class="fa fa-angle-down"></span>
                    </button>
                     <ul class="dropdown-menu">
                            <li class="select-a-date">
                                <h6 class="dd-title">Select a Date</h6>
                                <p>The result will show the week which includes the date you picked</p>
                                <div class="form-group">
                                    <label for="find-week-day">
                                        <input type="date" id="find-week-day" class="form-control" max={{onFormatDate(todaysDate)}} [(ngModel)]="dateSlct" (change)="onDateChange(dateSlct)">
                                    </label>
                                </div>
                                <!-- add class hidden as soon as a date has been selected -->
                                <p class="date-not-selected" [class.hidden]="dateSlct">Select a date to see week start and end dates</p>

                                <!-- After a date is picked, show this div and hi de the previous one-->
                                <div [class.hidden]="!dateSlct">
                                    <h6 class="dd-title">The {{dropDownValue == 1 ? 'Month' : 'Week'}}</h6>
                                    <p *ngIf="displayDateRange"> {{displayDateRange.start ? (displayDateRange.start | date: 'dd MMM, yyyy') : '' }} - 
                                        {{displayDateRange.end ? (displayDateRange.end | date: 'dd MMM, yyyy') : '' }}</p>
                                    <a href="#" class="btn btn-primary pull-right" (click)="getDateRangeData(dateSlct)">Done</a>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                    </ul>
                </div>

                <div class="table-navi pull-right" style="margin-top: 0;">
                    <!-- add class disabled to disable the btn/link -->
                    <a href="#" class="week-navi prev" (click)="fetchData(false)"><i class="fa fa-angle-left"></i></a>
                    <a href="#" class="week-navi next" (click)="fetchData(true)" [class.disabled]="nextButtonDisabled"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="card last-week closed">
                <div class="card-progress" data-weekdays="5" data-width="75"></div>
                <div class="card-header">
                    <div class="pull-right text-right">
                        <div class="this-week-total"><strong>{{totalHoursThisWeek}}</strong></div>
                        <small class="this-week-label">Total hours</small>
                    </div>
                    <div class="illustration pull-left"></div>
                    <div class="this-title">
                        <h2>This {{dropDownValue == 1 ? 'Month' : 'Week'}}</h2>
                        <small class="this-week-label">{{thisWeekDates.start_date | date : 'dd'}}{{ toDate_th(thisWeekDates.start_date) }} - {{thisWeekDates.end_date | date : 'dd'}}{{ toDate_th(thisWeekDates.end_date) }} {{thisWeekDates.end_date | date : 'MMMM'}}</small>
                    </div>
                </div>
                <div *ngIf="showLoader"><div class='uil-clock-css yellow-loader def' style='transform:scale(0.3);'><div class="clock"></div><div class="ptr1"></div><div class="ptr2"></div></div></div>
                
                <div class="listy this-yesterday" *ngIf="yesterdaysData" [class.on-leave]="yesterdaysData && !(yesterday.status === null || yesterday.status.toLowerCase() === 'present')">
                    <!-- Yesterday's Card -->
                    <div class="list-top">
                        <div class="day-info pull-left">
                            <h3>Yesterday</h3>
                            <small class="this-week-label" >{{yesterday.date | date: 'dd MMMM'}}</small>
                        </div>
                        <div class="day-total pull-right text-right">
                            <div class="show-collapsed" *ngIf="yesterday.status === null || yesterday.status.toLowerCase() === 'present'">
                                <div class="this-day-total" >
                                    <strong>{{yesterday.total_time.hrs}}</strong><small>hr</small>
                                    <strong>{{yesterday.total_time.mins}}</strong><small>min</small>
                                </div>
                                <small class="this-week-label">Total yesterday</small>
                            </div>
                            <div class="show-opened" *ngIf="yesterday.status === null || yesterday.status.toLowerCase() === 'present'">
                                <div class="this-day-total" >
                                    <strong>{{yesterday.total_time.hrs}}:{{yesterday.total_time.mins}}</strong>
                                </div>
                                <small class="this-week-label">Total hours</small>
                            </div>
                            <div class="show-o pened" *ngIf="!(yesterday.status === null || yesterday.status.toLowerCase() === 'present')">
                                <!-- User was on leave that day -->
                                <div class="this-day-total" >
                                    {{ yesterday.status }}
                                </div>
                                <small class="this-week-label">Status</small>
                            </div>
                        </div>
                    </div>
                    <!-- Yesterday's card in expanded mode -->
                    <div class="list-footer" *ngIf="yesterday.status === null || yesterday.status.toLowerCase() === 'present'">
                        <div class="start-time tims">
                            <div class="icon"></div>
                            <div class="day-times">{{yesterday.start_time ? (yesterday.start_time | date:'hh:mm' ): 'n/a'}}</div>
                            <small class="this-week-label">Start Time</small>
                        </div>
                        <div class="end-time tims">
                            <div class="icon"></div>
                            <div class="day-times">{{yesterday.end_time ? (yesterday.end_time | date:'hh:mm' ): 'n/a'}}</div>
                            <small class="this-week-label">End Time</small>
                        </div>
                    </div>
                    <div class="list-footer hidden" *ngIf="!(yesterday.status === null || yesterday.status.toLowerCase() === 'present')">
                        <!-- User was on leave that day -->
                        <!--<span class="listy on-leave">
                            {{ yesterday.status }}
                        </span>-->
                        <div class="start-time tims">
                            <div class="icon"></div>
                            <div class="day-times">--:--</div>
                            <small class="this-week-label">Start Time</small>
                        </div>
                        <div class="end-time tims">
                            <div class="icon"></div>
                            <div class="day-times">--:--</div>
                            <small class="this-week-label">End Time</small>
                        </div>
                    </div>
                </div>
                
                <div class="listy show-opened" *ngFor="let item of oldData">
                    <div *ngIf="this.appUtilService.formatDate(item.work_date) !== todaysDate">
                        <!-- Display all previous date's except today's date in the list -->
                        <div class="list-top">
                            <div class="day-info pull-left">
                                <h3>{{item.work_date | date: 'EEEE'}}</h3>
                                <small class="this-week-label">{{item.work_date | date: 'dd'}}{{ toDate_th(item.work_date) }} {{item.work_date | date: 'MMMM'}}</small>
                            </div>
                            <div class="day-total pull-right text-right">
                                <div class="show-opened" *ngIf="item.status === null || item.status.toLowerCase() === 'present'">
                                    <div class="this-day-total">
                                        <strong>{{item.total_time ? item.total_time : 'n/a'}}</strong>
                                    </div>
                                    <small class="this-week-label">Total hours</small>
                                </div>
                                <div class="show-opened" *ngIf="!(item.status === null || item.status.toLowerCase() === 'present')">
                                    <!-- User was on leave that day -->
                                    <div class="this-day-total">{{ item.status }}</div>
                                    <small class="this-week-label">Status</small>
                                </div>
                            </div>
                        </div>
                        <div class="list-footer" *ngIf="item.status === null || item.status.toLowerCase() === 'present'">
                            <div class="start-time tims">
                                <div class="icon"></div>
                                <div class="day-times">{{item.start_time ? (item.start_time | date:'hh:mm' ): 'n/a'}}</div>
                                <small class="this-week-label">Start Time</small>
                            </div>
                            <div class="end-time tims">
                                <div class="icon"></div>
                                <div class="day-times">{{item.end_time ? (item.end_time | date:'hh:mm' ): 'n/a'}}</div>
                                <small class="this-week-label">End Time</small>
                            </div>
                        </div>
                        <div class="list-footer hidden" *ngIf="!(item.status === null || item.status.toLowerCase() === 'present')">
                            <!-- User was on leave that day -->
                            <!--<span class="listy on-leave">
                                {{ item.status }}
                            </span>-->
                            <div class="start-time tims">
                                <div class="icon"></div>
                                <div class="day-times">--:--</div>
                                <small class="this-week-label">Start Time</small>
                            </div>
                            <div class="end-time tims">
                                <div class="icon"></div>
                                <div class="day-times">--:--</div>
                                <small class="this-week-label">End Time</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- loader -->
            <!-- if day is monday - that means no weekly data to show, show this section instead -->
            <div class="monday-card last-week" [class.hidden]="userData.length > 1 || yesterdaysData || !showLoader">
                <div class="card-header">
                    <div class="illustration pull-left"></div>
                    <!-- This Month is for Now commented for Basic Web -->
                    <small class="this-week-label" ng-disabled="true">You'll see this week's data from tomorrow. Have agreat week! :)</small>
                    <small class="noinfo-label">You'll see this week's data from tomorrow. Have agreat week! :)</small>
                </div>
            </div>
        </div>

        <div class="col-md-8 hidden-xs hidden-sm">
            <!-- Desktop week view -->
            <!-- Dashboard title when the user views this page -->
            <div class="user-page-title" *ngIf="!withUrl">
                <h1 class="dashboard-title">Welcome, {{appUtilService.user_data.user_name}}</h1>
                <h4 class="sub-title dash">Track Time. Record Work. Boost Productivity.</h4>
            </div>

            <!-- Dashboard title when the company views this page -->
            <div class="company-page-title" *ngIf="withUrl">
                <div *ngIf="empname">
                    <h1 class="dashboard-title">{{empname}}'s Time at Work</h1>
                    <h4 class="sub-title dash">A detailed view of how much time {{empname}} spends at office</h4>
                </div>
                <div *ngIf="!empname">
                    <h1 class="dashboard-title"><div class='uil-clock-css yellow-loader def' style='transform:scale(0.3);'><div class="clock"></div><div class="ptr1"></div><div class="ptr2"></div></div></h1>
                </div>
            </div>

            <div class="last-few-days card">
                <div class="card-header">
                    <div class="btn-group btn-dropdown change-last-view">
                        <!-- <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        This {{dropDownValue == 1 ? 'Month' : 'Week'}} <span class="fa fa-angle-down"></span>
                        </button> -->
                        <h4> This {{dropDownValue == 1 ? 'Month' : 'Week'}} </h4>
                        <ul class="dropdown-menu">
                            <!--<li [class.active]="dropDownValue == 1"><a (click)="getUserData(1)">This Month</a></li>-->
                            <li class="disabled"><a >This Month</a></li>
                            <li [class.active]="dropDownValue == 2"><a (click)="getUserData(2)">This Week</a></li>
                            <!-- <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li> -->
                        </ul>
                    </div>

                    <div class="table-navi pull-right" style="margin-top: 0; margin-left: 10px;">
                        <!-- add class disabled to disable the btn/link -->
                        <a href="#" class="week-navi prev" (click)="fetchData(false)"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="week-navi next" (click)="fetchData(true)" [class.disabled]="nextButtonDisabled" ><i class="fa fa-angle-right"></i></a>
                    </div>

                    <div class="btn-group btn-dropdown filter pull-right hidd en" style="margin-top: 0;">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jump to Date <span class="fa fa-angle-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="select-a-date">
                                <h6 class="dd-title">Select a Date</h6>
                                <p>The result will show the week which includes the date you picked</p>
                                <div class="form-group">
                                    <label for="find-week-day">
                                        <input type="date" id="find-week-day" class="form-control" max={{onFormatDate(todaysDate)}}  [(ngModel)]="dateSlct" (change)="onDateChange(dateSlct)">
                                    </label>
                                </div>
                                <!-- add class hidden as soon as a date has been selected -->
                                <p class="date-not-selected" [class.hidden]="dateSlct">Select a date to see week start and end dates</p>

                                <!-- After a date is picked, show this div and hi de the previous one-->
                                <div [class.hidden]="!dateSlct">
                                    <h6 class="dd-title">The {{dropDownValue == 1 ? 'Month' : 'Week'}}</h6>
                                    <p *ngIf="displayDateRange"> {{displayDateRange.start ? (displayDateRange.start | date: 'dd MMM, yyyy') : '' }} - 
                                        {{displayDateRange.end ? (displayDateRange.end | date: 'dd MMM, yyyy') : '' }}</p>
                                    <a href="#" class="btn btn-primary pull-right" (click)="getDateRangeData(dateSlct)">Done</a>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <a href="#" class="show-hide-days pull-right"><small>Hide Sundays</small></a> -->
                </div>
                <!-- Adding/removing the class 'week-view' will toggle the week view div visibility -->
                <!-- the below 2 line instructions are incase you add some other object inside this div -->
                <!-- whatever object that needs to be hidden in week view plz add the class 'hide-in-week-view' -->
                <!-- to show an object in week view plz add class 'show-in-week-view' -->
                <div class="card-body" [class.week-view]="dropDownValue == 2">
                    <app-month-view [monthData]="formatDATA" *ngIf="dropDownValue == 1 && formatDATA"><img src="dist/assets/images/ring.svg" alt="Loading ..."></app-month-view>

                    <div class="table-view week show-in-week-view">
                        <div class="table-responsive">
                            <table class="table first-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="eq"><span class="th-label small-title">Total</span></th>
                                        <!-- <th class="eq"><span class="th-label small-title">Work</span></th>
                                        <th class="eq last"><span class="th-label small-title">Break</span></th> -->
                                        <th class="wide">
                                            <span class="th-label small-title pull-left">Day Start</span>
                                            <span class="th-label small-title pull-right">Day End</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--class="current"-->
                                    <tr *ngIf="userData.length == 0 && !showLoader" > 
                                        <td colspan="3" class="noData"> No data to display</td>       
                                    </tr>

                                    <tr *ngIf="showLoader">
                                        <td colspan="3"><div class='uil-clock-css yellow-loader def' style='transform:scale(0.3);'><div class="clock"></div><div class="ptr1"></div><div class="ptr2"></div></div></td>
                                    </tr>
                                    <!-- Display Log Data -->
                                    <tr *ngFor="let data of userData.slice().reverse()" [class.current]="todaysDate === data.work_date" [class.on-leave]="!(data.status === null || data.status.toLowerCase() === 'present')">
                                        <td>
                                            <span class="th-day">
                                                <span class="small-title">{{data.work_date | date:'dd'}}{{ toDate_th(data.work_date) }} {{data.work_date | date:'MMM'}}</span>
                                                <span class="small-title">{{data.work_date | date:'EEE'}}</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="th-total total th-time" *ngIf="data.status === null || data.status.toLowerCase() === 'present'">
                                                <strong>{{data.total_time ? data.total_time : 'n/a'}}</strong>
                                            </span>
                                            <span class="th-total total th-time" *ngIf="!(data.status === null || data.status.toLowerCase() === 'present')">--</span>
                                        </td>
                                        <td>
                                            <div *ngIf="data.status === null || data.status.toLowerCase() === 'present'">
                                                <!-- Show progress bar if Present -->
                                                <span class="top-meta">
                                                    <span class="th-day-end pull-right">
                                                        <small>{{data.end_time ? (data.end_time | date : 'hh:mm' ): 'n/a'}} </small> 
                                                    </span>
                                                    <span class="th-day-start">
                                                        <small>{{(data.start_time ? (data.start_time | date : 'hh:mm' ) : 'n/a') }} </small> 
                                                        <!--| date: 'shortTime'-->
                                                    </span>
                                                </span>
                                                    <!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>-->
                                                    <progress style="width:100%;" class="progress progress-striped progress-animated" value="{{data.timeCompleted}}" max="100" aria-describedby="example-caption-5"></progress>
                                            </div>
                                            <div class="status" *ngIf="!(data.status === null || data.status.toLowerCase() === 'present')">
                                                <!-- Don't Leave statement if absent -->
                                                <span class="label label-danger">
                                                    {{ data.status }}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="stats-view">
                        <h4 class="card-title hide-in-week-view">Stats since {{thisWeekDates.start_date | date: 'MMM dd' }}</h4>
                        <div class="spacer-20 show-in-week-view"></div>
                        <div class="horizontal-stats">
                            <div class="stat-wrap">
                                <div class="stat-count">
                                    <strong>{{totalHoursThisWeek}}</strong>
                                    <span class="stat-dev increase" style="display: none;"><i class="fa fa-caret-up"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Total Time</div>
                            </div>
                            <!-- <div class="stat-wrap">
                                <div class="stat-count">
                                    <strong>95:49</strong>
                                    <span class="stat-dev decrease"><i class="fa fa-caret-down"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Total Work Time</div>
                            </div> -->
                            <div class="stat-wrap" style="display: none;">
                                <div class="stat-count">
                                    <strong> {{averageHours}} <span>AM</span></strong>
                                    <span class="stat-dev increase"><i class="fa fa-caret-up"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Avg. Day Start</div>
                            </div>
                            <div class="stat-wrap wide" style="display: none;">
                                <div class="stat-count">
                                    <strong>0.47</strong>
                                    <span class="stat-dev decrease"><i class="fa fa-caret-down"></i> 1.5%</span>
                                </div>
                                <div class="stat-title small-title">Day start deviates by</div>
                            </div>
                            <div class="stat-wrap text-right"  style="display: none;">
                                <a href="#" class="more-stats"><small>More stats</small></a>
                            </div>
                        </div>
                        <!-- Please add the line chart here -->
                    </div>
                </div>
            </div>
        </div>
        <!--<app-todays-card [userid]="userid" *ngIf="userid"> <div class='uil-clock-css yellow-loader def' style='transform:scale(0.3);'><div class="clock"></div><div class="ptr1"></div><div class="ptr2"></div></div> </app-todays-card>-->
        <!--<app-todays-card [userid]="userid" (uploaded)="toDate_th($dateValue)"> *ngIf="userid" class="fullwidth"></app-todays-card>-->
        <app-todays-card [userid]="userid"> *ngIf="userid" class="fullwidth"></app-todays-card>
    </div>
</div>

<!-- this is the old container - old design. hidden and not removed in case this is needed again -->
<!--<div class="fixed-top-color btm-big "></div>-->