<div class="table-view month hscroll-table hide-in-week-view">
    <div class="table-responsive setpadding">
        <table class="table first-table">
            <thead>
                <tr>
                    <th><span class="th-label small-title">Mon</span></th>
                    <th><span class="th-label small-title">Tue</span></th>
                    <th><span class="th-label small-title">Wed</span></th>
                    <th><span class="th-label small-title">Thu</span></th>
                    <th><span class="th-label small-title">Fri</span></th>
                    <th><span class="th-label small-title">Sat</span></th>
                    <th class="sunday"><span class="th-label small-title">Sun</span></th>
                    <th class="total"><span class="th-label small-title">Total</span></th>
                </tr>
            </thead>
            <tbody *ngIf="monthData">
                 <tr *ngIf="monthData.length == 0" > 
                    <td colspan="8" class="noData"> No data to display</td>       
                </tr>
                <tr class="current" *ngFor="let week; let i = index; of monthData" >
                    <!--<td [colSpan]="week.data[0].day">

                    </td>-->
                    <td *ngFor="let day of week.data">
                        <a *ngIf="(day.status === null || (day.status && day.status.toLowerCase() === 'present'))" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{day.work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{day.total_time ? day.total_time : 'n/a'}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{day.start_time ? (day.start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(day.end_time ? (day.end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                        <a *ngIf="!(day.status === null || (day.status && day.status.toLowerCase() === 'present'))" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{day.work_date | date : 'd MMM'}}</span>
                            <span class="th-total" style="color:red">{{day.status }}</span>
                        </a>
                        <!--<a *ngIf="i.isEmpty == true">
                        </a>-->
                    </td>
                    <!--<td [colSpan]="6 - week.data[week.data.length-1].day - 1" *ngIf="week.data[week.data.length-1].day !== 5">-->
                    <td [colSpan]="6 - week.data.length" *ngIf="week.data.length !== 6">

                    </td>
                    <td class="sunday">
                        <!--<a  *ngIf="week.data[6]" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>-->
                    </td>
                    <td>
                        <a href="#" class="single-day total current" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day visi-hide">Week's Total</span>
                            <span class="th-total" *ngIf="week.data">{{week.data.totalHrs}}</span>
                            <!--<span class="th-spilt">
                                <span class="th-work">9:13</span> -
                                <span class="th-break">6:13</span>
                            </span>-->
                        </a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<!--
       <td>
                        <a *ngIf="week.data[1]" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a  *ngIf="week.data[2]" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a  *ngIf="week.data[3]" href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a *ngIf="week.data[4]"  href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a *ngIf="week.data[5]"  href="#" class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                            <span class="th-day small-title"> {{week.data[0].work_date | date : 'd MMM'}}</span>
                            <span class="th-total">{{week.data[0].total_time}}</span>
                            <span class="th-spilt">
                                <span class="th-work">{{week.data[0].start_time ? (week.data[0].start_time | date: 'h:mm') : 'n/a'}} </span> -
                                <span class="th-break">{{(week.data[0].end_time ? (week.data[0].end_time | date: 'h:mm')  : 'n/a')}} </span>
                            </span>
                        </a>
                    </td>-->